@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
}

:root {
  /* 4 Ana Renk */
  --primary-color: #7A9D96;      /* Yeşilimsi - Birincil renk */
  --secondary-color: #CAE4DB;    /* Açık yeşil - İkincil renk */
  --accent-color: #DCAE1D;       /* Sarı/Altın - Vurgu rengi */
  --text-color: #00303F;         /* Koyu mavi - Metin rengi */
  --background-color: #7A9D96;   /* Koyu yeşil arka plan */

  /* Ek renkler */
  --danger-color: #e74c3c;
  --warning-color: #DCAE1D;
  --white-color: #F1F6FD;
  --black-color: #111111;
}

html, body, #root {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
}